@tailwind base;
@tailwind components;
@font-face {
  font-family: "streamer";
  src: url("/Streamer Demo.otf");
}
@font-face {
  font-family: "criteriacf";
  src: url("/Fontspring-DEMO-criteriacf-bold.otf");
}

@font-face {
  font-family: "pixeloid";
  src: url("/PixeloidSans.ttf");
}
@tailwind utilities;

.navigation .active {
  color: #ffd644;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
